<!DOCTYPE html>
<html>
<body>
    <h1>Spring Cloud Config Server</h1>
    <p> The Spring Cloud Config Server provides an HTTP resource-based API for external yaml configuration for all the Spring Petclinic microservices</p>
    <ul>
        <li>See the <a href="https://cloud.spring.io/spring-cloud-config/">Spring Cloud Config Server reference manual</a> for the REST API</li>
        <li><a href="/application-default.yml">Common microservices configuration</a></li>
        <li><a href="http://localhost:8888/vets-service-docker.yml">Configuration of the vets service deployed on a Docker container</a></li>
    </ul>
</body>
</html>
<!-- 
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header text-center"><strong>Login</strong></div>
        <div class="card-body">
          <form ng-submit="loginCtrl.login()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" ng-model="loginCtrl.credentials.username" required>
            </div>
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" ng-model="loginCtrl.credentials.password" required>
            </div>
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <p class="text-danger mt-2" ng-if="loginCtrl.loginFailed">Invalid credentials</p>
          </form>
        </div>
      </div>
    </div>
  </div>
   -->